:root{
	--firest-color: red;
	--second-color: #1fd4a8;
	--third-color:  #af9210;
}
body {
background-image:url('../images/public/background.png');
}
*{
	text-transform: capitalize;
}
a{
	color: #000;
	font-weight: bold;
	text-decoration:none;
}
.background{
	background: #fff;
}
.simple_contaienr{
	max-width:600px;
	margin:auto;
box-shadow:  0px 3px 4px 0px #ccc;	
}
.main_gird{
	display:grid;
	grid-template-columns:  1fr 400px;
	gap:10px;
}

@media (max-width:992px){
	/* .main_gird{
		display: block;
	} */
	/* .info_side{
		display: none;
	} */
	.info_side{
		z-index: 11;
		display: block;
		position: absolute;
		top: 0;
		left:0;
		width: 100%;
		height: 100%;
		background: #fff;
		transition: all 1s ease;
		/* transform:scale(0) ; */
	}
}

.justfy_content_center_align_content_center{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	min-height: 300px;
}
.content_acount{
display: grid;
grid-template-columns: 50px auto;
gap: 40px 20px;

}
.content_acount  > div{
	overflow: hidden;
}
.account_img img{
	max-width: 80px;
	max-height: 80px;
}
.image_continers{
	max-height:200px;
	/* overflow: hidden; */
	position: relative;
}

.account_diales{
	margin: 10px;
}
.account_diales h3{
	font-weight: bolder;
}
.my_info{
	position: absolute;
	bottom: -40px;
	right:30px;
	text-align:center;
}
.personal_img{
	max-width: 80px;
	height: 70px;
	max-height: 80px;
	/* max-height: 300px; */
	border-radius: 50%;

}
.my_post_box{
	max-width: 60%;
	font-weight: bold;
	padding: 20px;
	border:1px solid #ccc;

}
.my_post_box >div{
margin: 10px 3px ;
}
.my_post_box  a {
	text-decoration: none;
	padding: 4px 10px ; 
	margin:  10px;
box-shadow:  0px 3px 4px 0px #ccc;	
color:#000;
border-radius: 3px;
margin-top: 20px;

}
.full_stack_img  img {
	min-height: 200px;
	min-width: 100%;
	max-height: 200px;
	max-width: 100%;
}
.my_info_and_porgress{
/* margin-top :50px */
}
.custom_btn{
	/* border: 1px solid #ccc;	 */
	padding: 4px 10px;
	border-radius: 3px;
	position: relative;
cursor: pointer;
}
.custom_btn.active:after{
content: '';
border-radius: 50%;
position: absolute;
bottom:-1px;
left:0;
width: 100%;
height: 2px;
background: linear-gradient(45deg , var(--second-color) ,var(--third-color) ,var(--firest-color) ,transparent);
transition: 1s all linear;
/* animation-timing-function: ; */
animation: imaotions 5s alternate linear infinite;
z-index: 1;


/* animation-fill-mode:  ; */
}


@keyframes imaotions {
	20% {background: linear-gradient(45deg , var(--second-color) , #af9210 ,var(--firest-color) ,transparent);}
	40% {background: linear-gradient(45deg , var(--second-color) , var(--third-color) , var(--third-color) ,var(--firest-color) ,transparent);}
	60% {background: linear-gradient(45deg ,  var(--third-color) ,var(--third-color) ,var(--third-color) ,var(--firest-color) ,var(--second-color) );}
	80% {background: linear-gradient(45deg ,  var(--third-color) ,var(--third-color) ,var(--firest-color) ,var(--firest-color) ,var(--second-color) );}
	100% {background: linear-gradient(45deg , var(--firest-color) ,var(--firest-color) ,var(--firest-color) ,var(--second-color)  , var(--third-color));}
	/* 60% {background: linear-gradient(45deg ,  var(--firest-color) ,var(--second-color)  , var(--second-color)  , var(--third-color)  ,var(--firest-color) ,);} */
	/* 70% {background: linear-gradient(45deg ,  var(--second-color)  , var(--second-color)  ,   var(--third-color) var(--third-color)  var(--firest-color) );}
	100% {background: linear-gradient(45deg ,  var(--second-color)  ,var(--third-color) ,var(--third-color) ,var(--firest-color) ,var(--second-color)   );}
	90% {background: linear-gradient(45deg ,  var(--third-color) ,var(--third-color) ,var(--firest-color) ,var(--firest-color) ,var(--second-color) );} */
	/* 100% {background: linear-gradient(45deg ,  var(--third-color) ,var(--firest-color),var(--firest-color),var(--firest-color) , var(--second-color) );} */
}
.box_shadow{
	box-shadow:  0px 3px 4px 0px #ccc;	
	padding: 30px;
}
.list_chose , .list_chose2{
box-shadow:  0px 3px 4px 0px #ccc;	
padding: 10px;
}
.list_chose2{
	position: sticky;
	z-index:10;
	top:0;
	overflow-x: scroll;
	background: #fff;
}
.my_inforamtion , .card_container{
margin: 20px;
}

.content_chose{
	max-height: 500px;
	/* overscroll-behavior-inline: scroll; */
overflow-y: scroll;
	/* overflow: scroll; */
}
.content_chose  > div{
	display: none;
}
.content_chose div.active{
	display: block;
}
.main_container{
	max-width: 95%;
	background:#fff;
	/* max-height: 200vh; */
	min-height:95vh ;
	max-height:98vh ;
	margin: 10px auto ;
	/* overflow: scroll; */
	overflow:hidden;
}
.galray_skil_ul{
	min-width: 500px;
	padding: 0;
	margin: 0;;
	list-style: none;
}
.galray_skil_ul li{
display: inline-block;
}

.galray_side{
	max-height: 99vh;
	background:#fff;
	/* max-width: 95%; */
	margin: auto;
	overflow-y:scroll;
	position: relative;
}
.galary_gird{
	margin:30px 0 ;
	display:grid;
	grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
	gap:60px 10px;
}
.project_img{
	min-width: 98%;
	min-height: 98%;
	max-width: 100%;
	max-height: 150px;
	cursor: pointer;
}
.project_container{
position: relative;
margin: 10px;;
}

.project_container:after{
content: '';
position: absolute;
top:-1px;
left:0;
height: 3px;
background: linear-gradient(45deg , var(--second-color) ,var(--third-color) ,var(--firest-color) ,transparent);
transition: .3s all linear;
animation: imaotions 3s alternate linear infinite;
z-index: 1;
width: 0;
}
.project_container:hover:after{
width: 100%;
}

	.show_my_info{
	display : none;
	}
@media (max-width:992px){

	.show_my_info{
	position: fixed;
	top: 30%;
	left:0;
	display: flex;
	align-items: center;
	z-index: 12;
	/* width: 10px;; */
}
.show_my_info h6{
margin: 0px 5px;
padding:3px 10px;
background: red;
color:#fff;
border-radius: 5px;
}
.personal_img2{
	max-width: 60px;
	height: 60px;
	max-height: 60px;
	/* max-height: 300px; */
	border-radius: 50%;
}
}

.my_skils_grid{
	display: grid;
	grid-template-columns: minmax(100px ,1fr) minmax(100px ,1fr) ;
	gap:10px
}
.progress{
	/* border:1px solid #ccc; */
	border-radius: 3px;
	background: #eee;
	height: 5px;;
}
.progress span{
	display: block;
	height: 5px;
	width:30%;
	background: var(--firest-color);
animation: imaotions 5s alternate linear infinite;
}

